@page
@using DemoProject.Pages
@model DemoProject.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Voeg tv toe</h2>

<form method="post">
    <ol>
        <li>
            <label for="input-brand">Merk:</label>
            <input id="input-brand" asp-for="NewTelevision.Brand">
            <span asp-validation-for="NewTelevision.Brand"></span>
        </li>
        <li>
            <label for="input-price">Prijs:</label>
            <input id="input-price" asp-for="NewTelevision.Price">
            <span asp-validation-for="NewTelevision.Price"></span>
        </li>
        <li>
            <label for="input-size">Grootte:</label>
            <input type="number" asp-for="NewTelevision.Size" type="number" step="any" id="input-size">
            <span asp-validation-for="NewTelevision.Size"></span>
        </li>
        <li>
            <button>Voeg tv toe</button>
        </li>
    </ol>

    @Html.AntiForgeryToken()
</form>



<h2>Lijst van tv's</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Merk</th>
        <th>Prijs</th>
        <th>Grootte</th>
    </tr>
    @foreach (var tv in IndexModel.Televisions)
    {
        <tr>
            <td>@tv.Id</td>
            <td>@tv.Brand</td>
            <td>&euro; @tv.Price</td>
            <td>@tv.Size&quot;</td>
        </tr>
    }
</table>